
<mat-tab-group>
  <mat-tab label="primera">
    Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse sodales sagittis, porttitor litora dis nisi lacus in duis velit erat, elementum feugiat aliquet habitant non tincidunt maecenas tempus praesent. Mi lectus hendrerit fames penatibus quam mattis suscipit aptent ac cubilia, diam magna curae convallis ultricies consequat tortor ad nascetur, id aliquam erat massa dui sociosqu dignissim metus donec. Dignissim in ligula vitae augue odio purus nec phasellus primis sagittis, tellus nascetur velit sollicitudin habitasse sodales netus auctor.
  </mat-tab>
  <mat-tab label="segunda">
    Proin integer hac nulla molestie tristique nec montes scelerisque sociis lacinia porttitor sociosqu venenatis, primis cum felis lectus sodales id libero iaculis aenean et est. Porttitor parturient lectus fames habitasse nam dictum egestas magnis in dapibus, habitant venenatis sollicitudin lacinia ad lobortis platea proin per bibendum, et nulla senectus aliquam quisque congue quis nunc felis.
  </mat-tab>
  <mat-tab label="tercera">
    Vulputate netus non penatibus ridiculus a cras platea in gravida nostra, metus dignissim et eu fringilla aenean imperdiet dis tempor, pharetra euismod ultrices nascetur libero dapibus vivamus vitae conubia.
  </mat-tab>
</mat-tab-group>
